



.titel-box {
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    margin: 0;
}


.content-section-box {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: auto; 
}



  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1300px;
    margin: auto;
  }

  .box {
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  


  .box h3 {
    margin: 0;
    text-align: center;

  }

  .box p {
    color: #555;
    line-height: 1.5;
    margin-top: 10px;
    max-height: 0;             
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }

  .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  }

  .box:hover p {
    max-height: 200px;        
    opacity: 1;
  }
  .copper {
    background: linear-gradient(135deg, #f4e1d2, #e0bfa3); 
  }
  .silver {
    background: linear-gradient(135deg, #f0f0f0, #d9d9d9); 
  }
  .gold {
    background: linear-gradient(135deg, #fff6d4, #f5e29e); 
  }
.cards-container {
    display: flex;
    flex-wrap: wrap;         
  justify-content: center; 
  gap: 35px;               
  max-width: 1200px;       
  margin: 0 auto;
margin-bottom: 40px;

}

.flip-card {
  flex: 1 1 250px;         
  max-width: 210px;        
  height: 300px;
  background: transparent;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}


.flip-card-back {
    background: conic-gradient(from 0deg,#333333 0%,
  #444444 25%, #555555 50%,  #444444 75%, #333333 100%);
    font-weight:normal;
  transform: rotateY(180deg);
}



.cta-buttons {
            margin-top: 20px;
        }
        .cta-buttons a {
            display: inline-block;
            background-color:black;
            color: #e0bfa3;
            text-decoration: none;
            padding: 12px 24px;
            margin-right: 10px;
            border-radius: 5px;
            transition: background 0.3s ease;
        }
        .cta-buttons a:hover {
            background-color: #333333;
        }
        .section-Bottom {
            margin-top: 60px;
        }
        
